@import "sass/libs"


/*==========  fonts  ==========*/


/*==========  deffault style  ==========*/

::placeholder
	color: #666
::selection
	background-color: $secondary
	color: #fff
::-webkit-scrollbar-track
	//-webkit-box-shadow: inset 0 0 0px rgba($primary, 1)
	background: $secondary
::-webkit-scrollbar-thumb
	background: $primary
	//-webkit-box-shadow: inset 0 0 0px rgba($primary, 1)
::-webkit-scrollbar-thumb:window-inactive
	background: $primary

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false)
	@font-face
		font-family: $font-family
		font-weight: $weight
		font-style: $style
		font-display: block

		@if $asset-pipeline == true 
			src: font-url('#{$file-path}.eot')
			src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'), font-url('#{$file-path}.woff') format('woff'), font-url('#{$file-path}.woff2') format('woff2'), font-url('#{$file-path}.ttf') format('truetype')
		@else
			src: local('#{$font-family}'), url('#{$file-path}.eot')
			src: local('#{$font-family}'), url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.woff2') format('woff2'), url('#{$file-path}.ttf') format('truetype')


+font-face("Geo", "fonts/GeometriaLight", 300)
+font-face("Geo", "fonts/Geometria", 400)
+font-face("Geo", "fonts/GeometriaBold", 700)

b, strong, .bold, .strong
	font-weight: 700

.shadow-sm
	box-shadow: 0 .3rem .5rem rgba($primary, .2)!important
.text-shadow
	text-shadow: 7px 7px 0 rgba($primary, .1)
html
	&:not([class="load"])
		section
			background-image: none!important
		img
			display: none
	.main-container
		opacity: 0
	
	&.load
		.main-container
			opacity: 1

$font: "Geo", sans-serif

$gutter: $grid-gutter-width

body
	min-width: 320px
	position: relative
	overflow-x: hidden
	margin: 0
	padding: 0
	border: 0
	font-size: .8rem
	font-family: $font
.h-full
	min-height: 520px
	height: auto
	max-height: 100%
.btn-primary, .btn-secondary
	box-shadow: 0 .2rem .2rem rgba(0,0,0,.2)!important
	border: none !important
.bg-primary-gradient
	background: linear-gradient(#fbf7e4, #eac7b5)
.btn-circle
	width: 48px
	height: 48px
	border-radius: 50%
	text-align: center
	padding: 12px 0 0 0
.display-5
	font-size: 1.725rem
	font-weight: 300
.card-body
	padding: 1rem
.card-title
	margin-bottom: 3rem
.bg-secondary
	background-color: rgba($secondary, .5)!important
.norm
	font-weight: 400
.btn
	margin: 1rem 0
	padding-top: .25em
	white-space: normal
	&.btn-lg
		padding-top: .7rem
		font-size: 1rem
		padding-left: 1rem
		padding-right: 1rem
.main-container
	.border-primary
		border-color: rgba($primary, .25)!important
.btn-xxl
	font-size: 3rem
	padding: .1rem 1.2rem
.btn-xl
	font-size: 2rem
.form-control
	font-weight: bold
	padding: .5rem 1rem
	filter: none !important
	box-shadow: none !important
	border: 1px solid #ced4da !important
	&.is-invalid
		border-color: $primary !important
	&.is-valid
		border-color: $secondary !important
.h1
	margin-bottom: 2rem
	font-size: 1.75rem
.h2, h2
	font-size: 1.5rem
.upp
	text-transform: uppercase
.list-inline-item
	display: block
	
label
	margin-bottom: 0
	margin-left: 23px
section
	padding: 2rem 0rem
	background-position: 50% 50%
	background-size: cover
	&.jumbotron
		margin-bottom: 0
.s1
	background-position: 80% 50%
	.container>.row
		min-height: 500px
		max-height: 600px
.main-container
	min-height: 100%
	&.fix-header
		padding-top: 50px

.intl-tel-input
	width: 100%
.alert-dismissible
	padding-right: 3rem
footer
	text-align: center
	&.bg-white
		img
			filter: invert(20%)
.fb_iframe_widget
	position: absolute
	
.mb_YTPUrl
	display: none !important
.mb_YTPlayer
	margin: 0 !important	

.video-wrap
	iframe
		width: 100%
		height: 100%
		border: 0
/* FORM */
.intl-tel-input input[type=tel]
	padding-left: 60px
.intl-tel-input .selected-flag
	border-radius: 18px
	padding-left: 12px
	padding-right: 12px
	width: 50px
.intl-tel-input .selected-flag .arrow
	//right: -6px
#hypercomments_widget
	min-height: 600px
.mfp-close-btn-in .mfp-close
	color: #fff
/* FORM SEND */

.send
	.fields,
	p
		opacity: 0
		visibility: hidden
	.cssload-loader
		position: absolute
		left: calc(50% - 40px)
		width: 80px
		height: 80px
		border-radius: 50%
		-o-border-radius: 50%
		-ms-border-radius: 50%
		-webkit-border-radius: 50%
		-moz-border-radius: 50%
		perspective: 1500px
		z-index: 999
		top: 40%
		-webkit-transition: all 0.3s
		-moz-transition: all 0.3s
		transition: all 0.3s
	.cssload-inner
		position: absolute
		width: 100%
		height: 100%
		box-sizing: border-box
		-o-box-sizing: border-box
		-ms-box-sizing: border-box
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		border-radius: 50%
		-o-border-radius: 50%
		-ms-border-radius: 50%
		-webkit-border-radius: 50%
		-moz-border-radius: 50%	
		&.cssload-one
			left: 0%
			top: 0%
			animation: cssload-rotate-one 2.5s linear infinite
			-o-animation: cssload-rotate-one 2.5s linear infinite
			-ms-animation: cssload-rotate-one 2.5s linear infinite
			-webkit-animation: cssload-rotate-one 2.5s linear infinite
			-moz-animation: cssload-rotate-one 2.5s linear infinite
			border-bottom: 6px solid $primary
		&.cssload-two
			right: 0%
			top: 0%
			animation: cssload-rotate-two 2.5s linear infinite
			-o-animation: cssload-rotate-two 2.5s linear infinite
			-ms-animation: cssload-rotate-two 2.5s linear infinite
			-webkit-animation: cssload-rotate-two 2.5s linear infinite
			-moz-animation: cssload-rotate-two 2.5s linear infinite
			border-right: 6px solid $secondary
		&.cssload-three
			right: 0%
			bottom: 0%
			animation: cssload-rotate-three 2.5s linear infinite
			-o-animation: cssload-rotate-three 2.5s linear infinite
			-ms-animation: cssload-rotate-three 2.5s linear infinite
			-webkit-animation: cssload-rotate-three 2.5s linear infinite
			-moz-animation: cssload-rotate-three 2.5s linear infinite
			border-top: 6px solid $primary
@keyframes cssload-rotate-one
	0%
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)

	100%
		transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)


@-o-keyframes cssload-rotate-one
	0%
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)

	100%
		-o-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)


@-ms-keyframes cssload-rotate-one
	0%
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)

	100%
		-ms-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)


@-webkit-keyframes cssload-rotate-one
	0%
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)

	100%
		-webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)


@-moz-keyframes cssload-rotate-one
	0%
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg)

	100%
		-moz-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg)


@keyframes cssload-rotate-two
	0%
		transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)

	100%
		transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)


@-o-keyframes cssload-rotate-two
	0%
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)

	100%
		-o-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)


@-ms-keyframes cssload-rotate-two
	0%
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)

	100%
		-ms-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)


@-webkit-keyframes cssload-rotate-two
	0%
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)

	100%
		-webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)


@-moz-keyframes cssload-rotate-two
	0%
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg)

	100%
		-moz-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg)


@keyframes cssload-rotate-three
	0%
		transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)

	100%
		transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)


@-o-keyframes cssload-rotate-three
	0%
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)

	100%
		-o-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)


@-ms-keyframes cssload-rotate-three
	0%
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)

	100%
		-ms-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)


@-webkit-keyframes cssload-rotate-three
	0%
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)

	100%
		-webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
@-moz-keyframes cssload-rotate-three
	0%
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg)
	100%
		-moz-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg)
@keyframes bounces
	0%
		-webkit-transform: translateY(0em)
		-moz-transform: translateY(0em)
		-ms-transform: translateY(0em)
		-o-transform: translateY(0em)
		transform: translateY(0em)
		opacity: .3
	25%
		-webkit-transform: translateY(0.8em)
		-moz-transform: translateY(0.8em)
		-ms-transform: translateY(0.8em)
		-o-transform: translateY(0.8em)
		transform: translateY(0.8em)
		opacity: 1
	100%
		-webkit-transform: translateY(0em)
		-moz-transform: translateY(0em)
		-ms-transform: translateY(0em)
		-o-transform: translateY(0em)
		transform: translateY(0em)
		opacity: .3

.mfp-zoom
	.mfp-with-anim
		opacity: 0
		transition: all 0.5s 
		transform: scale(0.5)
		padding: 0
		background-color: #fff
		position: relative
		&.mfp-bg
			opacity: 0
			transition: all .4s 
		.sp-img
			border-radius: 50%
			border: 6px solid $secondary
			display: inline-block
			img
				border-radius: 50%
				border: 6px solid #fff
		.desc
			max-height: 232px
			overflow: auto
			margin-top: 32px
		.h2
			margin-bottom: 0
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			transform: scale(1)
			.sp-img
				width: 160px
				height: 160px
				img
					width: 148px
					height: 148px
		&.mfp-bg
			opacity: .9
			transition: all .3s 
	&.mfp-removing
		.mfp-with-anim
			transform: scale(0)
			opacity: 0
		&.mfp-bg
			opacity: 0
			transition: all .4s
.mfp-close-btn-in .mfp-close
	top: 0
	right: 0px
.mfp-content
	.error-message
		position: absolute
		left: calc(0% + 15px)
		bottom: 10px
		width: calc(100% - 30px)
		font-size: 11px
		color: red
		text-align: center
.mfp-zoom-in
	.mfp-with-anim
		position: relative
		opacity: 0
		transition: all 0.4s
		padding: 0
		&.mfp-bg
			opacity: 0
			transition: all 0.3s
		.sp-img
			border-radius: 50%
			border: 6px solid $secondary
			display: inline-block
			img
				border-radius: 50%
				border: 6px solid #fff
		.desc
			max-height: 232px
			overflow: auto
			margin-top: 32px
		.h2
			margin-bottom: 0
	&.mfp-ready
		.mfp-with-anim
			opacity: 1
			.sp-img
				width: 160px
				height: 160px
				img
					width: 148px
					height: 148px
		&.mfp-bg
			opacity: .8
	&.mfp-removing
		.mfp-with-anim
			opacity: 0
			transition: all 0.2s
		&.mfp-bg
			opacity: 0
			transition: all 0.2s
.form-popup
	max-width: 480px
	margin-left: auto
	margin-right: auto
/*==========  Mobile First  ==========*/

// ≤0px
+media-breakpoint-up(xs)
	header
		.logo
			max-width: 50px

// ≤576px
+media-breakpoint-up(sm)
	.h1
		font-size: 2.5rem
	.h2, h2
		font-size: 2rem
	section
		padding: 4rem 0
	.btn
		margin: 2rem 0
		&.btn-lg
			font-size: 1.25rem
			padding-left: 1.375rem
			padding-right: 1.375rem
	.card-body
		padding: 2rem
	footer
		text-align: left
	
// ≤768px
+media-breakpoint-up(md)
	.h-full
		min-height: 520px
		height: calc(100vh - 8rem - 50px)
		max-height: 999px
	.s1
		background-position: 20% 50%
// ≤992px
+media-breakpoint-up(lg)
	.s1
		.container>.row
			height: calc(90vh - 250px - 60px)
			max-height: 600px
	#hypercomments_widget
		min-height: 600px
// ≤1200px
+media-breakpoint-up(xl)

